//! **************************************************************************
// Written by: Map P.20131013 on Tue Apr 26 01:58:51 2016
//! **************************************************************************

SCHEMATIC START;
COMP "OUTDIGIT<5>" LOCATE = SITE "V14" LEVEL 1;
COMP "OUTDIGIT<6>" LOCATE = SITE "V12" LEVEL 1;
COMP "OUTDIGIT<7>" LOCATE = SITE "V11" LEVEL 1;
COMP "OUTDIGIT<0>" LOCATE = SITE "V16" LEVEL 1;
COMP "OUTDIGIT<1>" LOCATE = SITE "T15" LEVEL 1;
COMP "OUTDIGIT<2>" LOCATE = SITE "U14" LEVEL 1;
COMP "OUTDIGIT<3>" LOCATE = SITE "T16" LEVEL 1;
COMP "OUTDIGIT<4>" LOCATE = SITE "V15" LEVEL 1;
COMP "REF" LOCATE = SITE "M13" LEVEL 1;
COMP "ROC" LOCATE = SITE "L16" LEVEL 1;
COMP "RST" LOCATE = SITE "V10" LEVEL 1;
COMP "RXD" LOCATE = SITE "C4" LEVEL 1;
COMP "TXD" LOCATE = SITE "D4" LEVEL 1;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
COMP "LEDS<2>" LOCATE = SITE "J13" LEVEL 1;
COMP "LEDS<1>" LOCATE = SITE "K15" LEVEL 1;
COMP "LEDS<4>" LOCATE = SITE "R18" LEVEL 1;
COMP "LEDS<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "LEDS<0>" LOCATE = SITE "H17" LEVEL 1;
COMP "LEDS<6>" LOCATE = SITE "U17" LEVEL 1;
COMP "LEDS<5>" LOCATE = SITE "V17" LEVEL 1;
COMP "LEDS<7>" LOCATE = SITE "U16" LEVEL 1;
COMP "ANODE<3>" LOCATE = SITE "G14" LEVEL 1;
COMP "ANODE<1>" LOCATE = SITE "M16" LEVEL 1;
COMP "ANODE<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "ANODE<0>" LOCATE = SITE "R12" LEVEL 1;
COMP "RO2/G10" LOCATE = SITE "SLICE_X18Y14" LEVEL 1;
COMP "RO2/G6t" LOCATE = SITE "SLICE_X19Y14" LEVEL 1;
COMP "RO2/G19" LOCATE = SITE "SLICE_X21Y14" LEVEL 1;
COMP "RO2/G16" LOCATE = SITE "SLICE_X20Y14" LEVEL 1;
COMP "GEX" LOCATE = SITE "SLICE_X22Y14" LEVEL 1;
COMP "RO2/G23t" LOCATE = SITE "SLICE_X23Y14" LEVEL 1;
SCHEMATIC END;

